:root {
  font-size: 62.5%;
  font-family: 'Poppins' !important;
}

body {
  font-size: 1.3rem;
  background-color: #fafbfc;
}

.App {
  width: 90%;
  margin: auto;
  max-width: 1500px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media only screen and (min-width: 1024px) {
  .App {
    width: 80%;
  }
}
