:root {
  font-size: 62.5%;
  font-family: "Poppins" !important;
}

body {
  font-size: 1.3rem;
  background-color: #FAFBFC;
}

.App {
  width: 80%;
  margin: auto;
  max-width: 1500px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
